.main {
  backdrop-filter: blur(50px);
  width: 80%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.204);
  border-radius: 20px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
}
.videoUI {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 20;
  left: 0;
  z-index: -1;
  opacity: 40%;
  border-radius: 20px;
}
.mainBox {
  width: 100%;
  margin: auto;
}
.icons_div {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 60%;
  margin: auto;
}
.heading {
  font-size: 40px;
  font-family: "Jacques Francois";
  font-display: swap;
  font-weight: 400;
  color: #ffa800;
  margin-top: 30%;
}
/* .text {
  
} */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.phone input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid rgb(229, 229, 229);
  border-radius: 1px;
}
.phone input:hover {
  border: none;
  border-bottom: 2px solid white;
}
.phone input:active {
  border: none;
  border-bottom: 2px solid rgb(77, 77, 255);
}
.form button {
  background-color: black;
  width: max-content;
}
.form button:hover,
.form button:active {
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .main {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .heading {
    margin-top: 5%;
  }
}
